@model biydaalt.Models.Worker

@{
    ViewData["Title"] = "Ажилтаны мэдээлэл засах";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Ажилтаны мэдээлэл засах</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="workerId" />
            <div class="form-group">
                <label asp-for="workerName" class="control-label"></label>
                <input asp-for="workerName" class="form-control" />
                <span asp-validation-for="workerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department.departmentName" class="control-label"></label>
                <select asp-for="departmentId" class="form-control" asp-items="ViewBag.departmentId"></select>
                <span asp-validation-for="departmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="albantushaal.albantushaalName" class="control-label"></label>
                <select asp-for="albantushaalId" class="form-control" asp-items="ViewBag.albantushaalId"></select>
                <span asp-validation-for="albantushaalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regdug" class="control-label"></label>
                <input asp-for="regdug" class="form-control" />
                <span asp-validation-for="regdug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Засах" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Буцах</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
