@model biydaalt.Models.User

@{
    ViewData["Title"] = "Үйлчлүүлэгч нэмэх";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Үйлчлүүлэгч нэмэх</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="userLast" class="control-label"></label>
                <input asp-for="userLast" class="form-control" />
                <span asp-validation-for="userLast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="regdug" class="control-label"></label>
                <input asp-for="regdug" class="form-control" />
                <span asp-validation-for="regdug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Нэмэх" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Буцах</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
