@model biydaalt.Models.Bookact

@{
    ViewData["Title"] = "Ном актлах";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Ном актлах</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="book.bookName" class="control-label"></label>
                <select asp-for="bookId" class ="form-control" asp-items="ViewBag.bookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="worker.workerName" class="control-label"></label>
                <select asp-for="workerId" class ="form-control" asp-items="ViewBag.workerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="act_count" class="control-label"></label>
                <input asp-for="act_count" class="form-control" />
                <span asp-validation-for="act_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actshaltgaan.actshaltgaanName" class="control-label"></label>
                <select asp-for="actshaltgaanId" class ="form-control" asp-items="ViewBag.actshaltgaanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="actdate" class="control-label"></label>
                <input type="date" asp-for="actdate" class="form-control" />
                <span asp-validation-for="actdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Актлах" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Буцах</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
