@model biydaalt.Models.Turul

@{
    ViewData["Title"] = "Номын төрөл дэлгэрэнгүй хуудас";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Номын төрөл дэлгэрэнгүй хуудас</h1>

<div>
    <h4>Номын төрөл</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turulName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turulName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.turulId">Засах</a> |
    <a asp-action="Index">Буцах</a>
</div>
