@model biydaalt.Models.Albantushaal

@{
    ViewData["Title"] = "Албан тушаал устгах";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Албан тушаал устгах хуудас</h1>

<h3>Үүнийг утсгахдаа итгэлтэй байна уу?</h3>
<div>
    <h4>Албан тушаал</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.albantushaalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.albantushaalName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="albantushaalId" />
        <input type="submit" value="Тийм" class="btn btn-danger" /> |
        <a asp-action="Index">Үгүй</a>
    </form>
</div>
