@model biydaalt.Models.Department

@{
    ViewData["Title"] = "Хэлтэс засах";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Хэлтэс засах</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="departmentId" />
            <div class="form-group">
                <label asp-for="departmentName" class="control-label"></label>
                <input asp-for="departmentName" class="form-control" />
                <span asp-validation-for="departmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Засах" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Буцах</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
