@model biydaalt.Models.Torguuli

@{
    ViewData["Title"] = "Торгууль бодох";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Торгууль бодох</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.userName" class="control-label"></label>
                <select asp-for="userId" class ="form-control" asp-items="ViewBag.userId"></select>
            </div>
            <div class="form-group">
                <label asp-for="worker.workerName" class="control-label"></label>
                <select asp-for="workerId" class ="form-control" asp-items="ViewBag.workerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="book.bookName" class="control-label"></label>
                <select asp-for="bookId" class ="form-control" asp-items="ViewBag.bookId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ashigodor" class="control-label"></label>
                <input asp-for="ashigodor" class="form-control" />
                <span asp-validation-for="ashigodor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="torguulishaltgaan.torguulishaltgaanName" class="control-label"></label>
                <select asp-for="torguulishaltgaanId" class ="form-control" asp-items="ViewBag.torguulishaltgaanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="torguulihemje" class="control-label"></label>
                <input asp-for="torguulihemje" class="form-control" />
                <span asp-validation-for="torguulihemje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Нэмэх" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Буцах</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
