<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - biydaalt</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/biydaalt.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">biydaalt</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Admin Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Admin Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Dedturul" asp-action="Index">
                                Лавлах
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Dedturul" asp-action="Index">
                                        Дэд төрөл
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Turul" asp-action="Index">Төрөл</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Albantushaal" asp-action="Index">Албан тушаал</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Department" asp-action="Index">Хэлтэс</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Actshaltgaan" asp-action="Index">Актласан шалтгаан</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Torguulishaltgaan" asp-action="Index">Торгуулийн шалтгаан</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="dataDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-area="" asp-controller="Dedturul" asp-action="Index">
                                Бүртгэл
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dataDropdown">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Bookact" asp-action="Index">Ном актлалт</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Bookgive" asp-action="Index">Ном олголт</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Ном</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Worker" asp-action="Index">Ажилтан</a>
                                </li>
                            </ul>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Мандах Их Сургууль - 
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
