@model biydaalt.Models.Dedturul

@{
    ViewData["Title"] = "Номын дэд төрөл дэлгэрэнгүй";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>Номын дэд төрөл дэлгэрэнгүй</h1>

<div>
    <h4>Номын дэд төрөл</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dedTurulName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dedTurulName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.turul.turulName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.turul.turulName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.dedTurulId">Засах</a> |
    <a asp-action="Index">Буцах</a>
</div>
