@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Манай номын санд тавтай морилно уу</h1>
    <p>Асуух зүйлсээ <a href="is21d005@mandakh.edu.mn"> энэхүү хаяг дээр дарж асууна уу баярлалаа</a>.</p>
</div>
